<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create task</title>
</head>
<body>

<form action="/task/create" method="post" th:object="${task}">

    Title:
    <input type="text" th:field="*{title}"/>
    <p th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Incorrect title</p>
    <br/><br/>

    Description:<br/> <Textarea rows = "4" th:field="*{description}"/>
    <p th:if="${#fields.hasErrors('description')}" th:errors="*{description}">Incorrect description</p>
    <br/><br/>


    Asign task to user:
    <select th:field="*{user}">
    <option th:each="user : ${users}"
            th:value="${user.id}"
            th:text="${user.firstName + ' ' + user.lastName}">Users
    </option>
</select>

    <button type="submit"> Submit</button>
</form>

<br/>
<a href="/">Homepage</a>
</body>
</html>