<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List tasks</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../css/mystyle.css">
</head>
<body>
<div class="container col-sm-5 mt-5 text-center">
<form>
Filter tasks by users:
<select name = "userId">
    <option value="">
        -
    </option>
    <option th:each="user : ${users}"
            th:value="${user.id}"
            th:selected="${user.id} == ${selectedUser}"
            th:text="${user.firstName + ' ' + user.lastName}">Users
    </option>
</select>
<button class="btn btn-sm btn-dark">Filter</button>
    </form>

<br/><br/>

<ul class="list-unstyled">
    <div class="row mt-3">
    <li class="mt-2" th:each="task : ${tasks}">
        <span class="bigblock" th:text="${task.title} + ': ' + ${task.creationDate} + ' ' + ${task.user.firstName} + ' ' + ${task.user.lastName}"> Task</span>
        <a th:href="'/task/delete/' + ${task.id}"><button class="btn btn-danger" >Delete task</button></a>
        <a th:href="@{'/task/edit/' + ${task.id}}"><button class="btn btn-warning">Edit task</button></a>
    </li>
    </div>
</ul>

<a href="/" class="btn btn-lg btn-outline-dark">Homepage</a><br/>
<a href="/task/create" class="btn btn-lg btn-outline-warning mt-2">Create task</a>
</div>
</body>
</html>