<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Task created</title>
</head>
<body>

<p th:text="${'Task with id: ' + task.id + ' is created!'}">Task</p>
<h3 th:text="${task.title}">Task</h3>
<p th:text="${'Task description: ' + task.description}">Task</p>
<p th:text="${'Task creation date:' + task.creationDate}">Task</p>
<a href="/">Homepage</a>
<a href="/task/create">Create new task</a>
<a href="/task/list">View all tasks</a>

</body>
</html>