<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User created</title>
</head>
<body>

<p th:text="${'User with id: ' + user.id + ' is created!'}">Task</p>
<h3 th:text="${user.firstName + ' ' + user.lastName}">Task</h3>
<p th:text="${'User email: ' + user.email}">Task</p>
<a href="/">Homepage</a>
<a href="/user/create">Create new user</a>
<a href="/user/list">View all users</a>


</body>
</html>